.forecast {
    border-radius: 8px;
    padding: 32px;
    flex-shrink: 0;
    width: 10%;
    box-shadow: 0 2px 4px 0 #888888;
    transition: 0.3s;
    text-align: center;
}

.forecast_today {
    border-radius: 8px;
    padding: 32px;
    flex-shrink: 0;
    width: 10%;
    box-shadow: 0 2px 4px 0 #888888;
    transition: 0.3s;
    text-align: center;
    background-color: cyan;
}